<form class="container" [class.selected]="isModified" [class.updating]="isUpdating" [class.removing]="isRemoving"
    (submit)="updateTask()">
    <input type="checkbox" [(ngModel)]="modificableTask.done" name="done" (click)="doneChanged()">
    <div class="task-values">
        <a *ngIf="showListLink && task.taskList"
            [routerLink]="['/todo-list', task.taskList.id]">#{{task.taskList.name}}</a>
        <input type="text" [(ngModel)]="modificableTask.title" placeholder="Enter title" (input)="edit(false)"
            class="input-title" [class.strikethrough]="modificableTask.done" name="title">
        <input type="datetime-local" [class.overdue]="isOverdue()" class="dueTime" [class.hidden]="!isModified && !isDueTimeValid()"
            (input)="edit(false)" [(ngModel)]="modificableTask.dueTime" name="dueTime" placeholder="Enter due time">
        <input type="text" class="description" [class.hidden]="!isModified && isNoDescription()" (input)="edit(false)"
            [(ngModel)]="modificableTask.description" name="desc" placeholder="Enter description">
    </div>
    <button type="submit" *ngIf="isModified">✅</button>
    <button type="button" *ngIf="isModified" class="edit-button" (click)="edit(true)">✖️</button>
    <button type="button" *ngIf="!isModified" class="edit-button" (click)="edit(true)">✏️</button>
    <button type="button" class="remove-button" *ngIf="!isModified" (click)="removeTask()">❌</button>
</form>