<h3 *ngIf="isLoading" class="ghost-text">🌐 Loading your today tasks...</h3>
<div *ngIf="!isLoading">
    <h3 *ngIf="dashboard?.todayTasksLeft >= 1">📃 {{toPluralForm(dashboard?.todayTasksLeft, "task", "tasks",
        "tasks")}} left for today.</h3>
    <h3 *ngIf="dashboard?.todayTasksLeft == 0">👌 There are no tasks for today.</h3>
    <div class="tasks-container">
        <app-task *ngFor="let task of todayTasks" [task]="task" [showListLink]="true" (modelUpdated)="modelUpdated($event)"
            (remove)="taskRemoved($event)"></app-task>
    </div>
</div>