@import "../styles";

:host {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

nav {
    width: 100%;
    min-height: 48px;
    display: flex;
    align-items: center;
    background: $bkg;
    border-bottom: 1px solid $borderColor;

    h1 {
        padding-left: 16px;
        font-style: normal;
        font-weight: 400;
        margin: 0;
        font-size: 19px;
    }
}

main {
    flex: 1;

    display: flex;

    .sidebar-container {
        padding: 16px;
        background: $sidebarBackground;
        flex-basis: 25%;
        overflow: hidden;
        border-right: 1px solid $borderColor;
    }

    .content-container {
        flex-basis: 75%;
        width: 100%;
        overflow: hidden;
    
        router-outlet {
            width: 100%;
        }
    }
}
