<div class="container-fluid">
    <div class="search-container">
        <div class="form-group">
            <label>Pesquisa</label>
            <div>
                <input class="form-control" [formControl]="searchControl">
                <button class="btn btn-dark" [disabled]="!searchControl.value" (click)="doSearch()">Pesquisar</button>
            </div>
        </div>

        <div class="form-group">
            <label>Pesuisar com <i>autocomplete</i></label>
        </div>

    </div>
    
    <jv-loader *ngif="loading$ | async"></jv-loader>

    <div *ngif="!(loading$ | async) && !(error$ | async) && !! (CityWeather$ | async)" >
        {{ (cityWeather$ | async).city.name }}
    </div>

    <div *ngif="!(loading$ | async) && error$ | async">
        <a>Tentar novamente</a>
    </div>

</div>