/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";

$bkg: #F3F3F3;
$borderColor: rgba(0, 0, 0, 0.07);
$sidebarBackground: #F8F8F8;
